# Установочные файлы
*.exe
*.msix

# Виртуальное окружение Python
**/venv/
venv/
.venv/

# Временные файлы Microsoft Office
~$*.doc
~$*.docx
~$*.xls
~$*.xlsx
~$*.ppt
~$*.pptx

# Настройки и кэш Visual Studio
**/.vs/
.vs/
*.user

# Результаты сборки (C++)
**/x64/
**/x86/
**/Debug/
**/Release/
*.pch
*.ipch
*.obj
