<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SportNutritionShopDb"
         connectionString="Data Source=Data\SportNutritionShop.db;Foreign Keys=True" />
  </connectionStrings>
  <appSettings>
    <add key="LowStockLimit" value="5" />
    <add key="CommandTimeoutSeconds" value="30" />
  </appSettings>
</configuration>
